// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$heart-size: 32px;
$avatar-size: 32px;

.article {
  background-color: white;
  margin: 16px 16px;
  padding: 16px 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;

  &_title {
    font-size: 22px;
  }

  &_detail {
    padding-top: 10px;
    
    display: flex;
    font-size: 12px;
    position: relative;

    img {
      cursor: pointer;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 16px;
    }
  

  &_actions {
    right: 0px;
    position: absolute;
  }
}

  &_content {
    padding: 24px 0 32px;
  }

  &_heart {
    position: absolute;
    right: 16px;
    bottom: 16px;

    img {
      width: $heart-size;
      height: $heart-size;
    }
  }
}